.container.projects__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:2.5rem ;
}

.project__items{
background: var(--color-bg-variant);
padding: 1.2rem;
border-radius: 2rem;
border: 1px solid transparent;
transition:  var(--transition);
}

.project__items:hover{
    border-color: var(--color-primary-variant);
    background: transparent;

}

.projects__image{
    border-radius: 1.5rem;
    overflow: hidden;
}
.project__items h3{
    margin: 1.2rem 0 2rem;
}

.project__items p{
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .container.projects__container{
grid-template-columns: 1fr 1fr;
gap: 1.2rem;
    }

}
  
  @media screen and (max-width: 600px) {
    .container.projects__container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
      
     
  }
